In [2]:
from ES import scoring as sc
import pandas as pd

In [3]:
#Jawaban
dir_ = 'data'
file_name = 'jawaban'
data = pd.read_excel(dir_+"/"+file_name+".xlsx")
jawaban = data[:100]["jawaban"].tolist()
data.head()

,Column1,jawaban,score,buat label,Column3,Column4
0,5212,ayo kunjungi machu picchu yang megahsejuk dan ...,0,1.0,100,tidak mirip
1,1628,telepon0217381 1111 untuk mengetahui info lebi...,1,1.0,100,sangat mirip
2,1079,"""pendakian dua hari bersama buana wisata ke ma...",1,1.0,100,tidak mirip
3,3827,anda dapat menelepon 021 7381 1111 sekarang ju...,1,1.0,100,sangat mirip
4,1388,arsitektur yang menabjub kan teras teras yang ...,0,1.0,100,sangat tidak mirip

In [4]:
# jawaban = "telepon0217381 1111 sekarang juga untuk informasi lebih lanjut kunjungi website kami di buanawisata.com untuk informasi paket dan harga"
file_name = "kunci_jawaban_1"
dir_ = "kunci_jawaban"

data = pd.read_excel(dir_+"/"+file_name+".xlsx")
data = sc.seleksi_kunci_jawaban(data)
kuncijawaban_list = data["kunci_jawaban"]
skor_list = data["skor"]
keterangan = data["keterangan"]
# pd.DataFrame.from_dict(data)

In [21]:
# print("cosine")
# hasil = sc.scoring_cosine(j,kuncijawaban_list,skor_list,keterangan)
# #[skor, ket, similarity, tr, sorted_]
# #    0     1         2    3       4
# print(" skor       :",hasil[0], "\n qualifikasi:",hasil[1], "\n similarity :",hasil[2], "\n status     :",hasil[3])

In [5]:
#proses scoring
cosine_skor = list()
cosine_qualifikasi = list()
cosine_similarity = list()
cosine_status = list()
cosine_cwm = list()

dice_skor = list()
dice_qualifikasi = list()
dice_similarity = list()
dice_status = list()
dice_cwm = list()

jaccard_skor = list()
jaccard_qualifikasi = list()
jaccard_similarity = list()
jaccard_status = list()
jaccard_cwm = list()

for ix, j in enumerate(jawaban):
    hasil = sc.scoring_cosine(j,kuncijawaban_list,skor_list,keterangan)
    cosine_skor.append(hasil[0])
    cosine_qualifikasi.append(hasil[1])
    cosine_similarity.append(hasil[2])
    cosine_status.append(hasil[3])
    cosine_cwm.append(sc.cek_mised(hasil[3]))
    
    hasil = sc.scoring_dice(j,kuncijawaban_list,skor_list,keterangan)
    dice_skor.append(hasil[0])
    dice_qualifikasi.append(hasil[1])
    dice_similarity.append(hasil[2])
    dice_status.append(hasil[3])
    dice_cwm.append(sc.cek_mised(hasil[3]))
    
    hasil = sc.scoring_jaccard(j,kuncijawaban_list,skor_list,keterangan)
    jaccard_skor.append(hasil[0])
    jaccard_qualifikasi.append(hasil[1])
    jaccard_similarity.append(hasil[2])
    jaccard_status.append(hasil[3])
    jaccard_cwm.append(sc.cek_mised(hasil[3]))
    
    if ix %10==0 and ix != 0:
        if ix !=0:
            print(ix)
    else:
        print(".", end="")
        
dict_={
    'cosine_skor' : cosine_skor,
    'cosine_qualifikasi' : cosine_qualifikasi,
    'cosine_similarity' : cosine_similarity,
    'cosine_status' : cosine_status,
    'cosine_cwm' : cosine_cwm,
    
    'dice_skor' : dice_skor,
    'dice_qualifikasi' : dice_qualifikasi,
    'dice_similarity' : dice_similarity,
    'dice_status' : dice_status,
    'dice_cwm' : dice_cwm,
    
    'jaccard_skor' : jaccard_skor,
    'jaccard_qualifikasi' : jaccard_qualifikasi,
    'jaccard_similarity' : jaccard_similarity,
    'jaccard_status' : jaccard_status,
    'jaccard_cwm' : jaccard_cwm,
    
    'jawaban':jawaban,
}

dataframe_hasil = pd.DataFrame(data=dict_)
dataframe_hasil.to_excel("hasil/hasil_scoring.xlsx")
dataframe_hasil

..........10
.........20
.........30
.........40
.........50
..

KeyboardInterrupt