In [1]:
from ES import scoring as sc
import pandas as pd

ok

In [2]:
#Jawaban
dir_ = 'data'
file_name = 'jawaban'
data = pd.read_excel(dir_+"/"+file_name+".xlsx")
jawaban = data[:100]["jawaban"].tolist()
print(len(jawaban))
data.head()

100

,Column1,jawaban,score,buat label,Column3,Column4
0,5212,ayo kunjungi machu picchu yang megahsejuk dan ...,0,1.0,100,tidak mirip
1,1628,telepon0217381 1111 untuk mengetahui info lebi...,1,1.0,100,sangat mirip
2,1079,"""pendakian dua hari bersama buana wisata ke ma...",1,1.0,100,tidak mirip
3,3827,anda dapat menelepon 021 7381 1111 sekarang ju...,1,1.0,100,sangat mirip
4,1388,arsitektur yang menabjub kan teras teras yang ...,0,1.0,100,sangat tidak mirip

In [ ]:
kunci_jawaban = ["telepon 02173811111 website buanwisata.com",
                 "02173811111 buanawiata.com",
                ]
skor = [1,1]